# everything
/*

# folders
!/src
!/gradle/
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

# files
!/.gitignore
!/.modpacksch.json
!/README.md
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/build.conf
!Jenkinsfile
!settings.gradle
/src/generated/resources/.cache/
